{
  "presets": [
      [ "env",
          {
              "modules": false,
              "useBuiltIns": "usage"
          }
      ],
      [ "react",
        {
          "modules": false,
          "useBuiltIns": "usage"
        }
      ]
  ],
  "env": {
      "test": {
          "presets": ["react"],
          "plugins": ["transform-es2015-modules-commonjs"]
      }

  }
}
