.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

@media screen and (min-width: 500px) {
    .header {
        justify-content: center;
    }
}