body {
    min-height: 100vh;
    background: #F4F6F7;
    background: linear-gradient(#F4F6F7, white);
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

@media screen and (min-width: 500px) {
    .header {
        justify-content: center;
    }
}